@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 13, 12;
  --background-start-rgb: hsl(32,calc(0.2 * 50%),98%);
  --background-end-rgb: hsl(32,calc(0.2 * 50%),98%);
}

.hcolor {
  color: rgb(14, 13, 12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 152, 163, 173;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 23, 23, 23;
  }

  .hcolor {
    color: rgb(228, 228, 228);
  }
}

.ncolor {
  color: rgb(249, 76, 86);;
}

html {
  scrollbar-gutter: stable both-edges;
}




.orange {
  color: rgb(237, 112, 74);
}

.red {
  border: 1px solid red !important
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: "sawton_industrialbold";
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-bold-webfont.eot");
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-bold-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-bold-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_industriallight";
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-light-webfont.eot");
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-light-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-light-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-light-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_industrialmedium";
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-medium-webfont.eot");
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-medium-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-medium-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_industrialregular";
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-regular-webfont.eot");
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-regular-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_industrialthin";
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-thin-webfont.eot");
  src: url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-thin-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-thin-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Industrial-Webfont/sawtonindustrial-thin-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on September 10, 2020 */

@font-face {
  font-family: "sawton_bauhausbold";
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-bold-webfont.eot");
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-bold-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-bold-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_bauhauslight";
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-light-webfont.eot");
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-light-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-light-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-light-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_bauhausmedium";
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-medium-webfont.eot");
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-medium-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-medium-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_bauhausregular";
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-regular-webfont.eot");
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-regular-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_bauhausthin";
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-thin-webfont.eot");
  src: url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-thin-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-thin-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Bauhaus-Webfont/sawtonbauhaus-thin-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on September 10, 2020 */

@font-face {
  font-family: "sawton_circularbold";
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-bold-webfont.eot");
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-bold-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-bold-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_circularlight";
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-light-webfont.eot");
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-light-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-light-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-light-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_circularmedium";
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-medium-webfont.eot");
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-medium-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-medium-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_circularregular";
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-regular-webfont.eot");
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-regular-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sawton_circularthin";
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-thin-webfont.eot");
  src: url("../fonts/Sawton-Circular-Webfont/sawtoncircular-thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-thin-webfont.woff2")
      format("woff2"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-thin-webfont.woff")
      format("woff"),
    url("../fonts/Sawton-Circular-Webfont/sawtoncircular-thin-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sawton_industrialthin {
  font-family: "sawton_industrialthin", monospace;
}

.sawton_industrialregular {
  font-family: "sawton_industrialregular", monospace;
}

.sawton_industrialmedium {
  font-family: "sawton_industrialmedium", monospace;
}

.sawton_industriallight {
  font-family: "sawton_industriallight", monospace;
}

.sawton_industrialbold {
  font-family: "sawton_industrialbold", monospace;
}

.sawton_bauhausthin {
  font-family: "sawton_bauhausthin", monospace;
}

.sawton_bauhausregular {
  font-family: "sawton_bauhausregular", monospace;
}

.sawton_bauhausmedium {
  font-family: "sawton_bauhausmedium", monospace;
}

.sawton_bauhauslight {
  font-family: "sawton_bauhauslight", monospace;
}

.sawton_bauhausbold {
  font-family: "sawton_bauhausbold", monospace;
}

.sawton_circularthin {
  font-family: "sawton_circularthin", monospace;
}

.sawton_circularregular {
  font-family: "sawton_circularregular", monospace;
}

.sawton_circularmedium {
  font-family: "sawton_circularmedium", monospace;
}

.sawton_circularlight {
  font-family: "sawton_circularlight", monospace;
}

.sawton_circularbold {
  font-family: "sawton_circularbold", monospace;
}
