/* ------------------- */
/* Custom properties   */
/* ------------------- */

@font-face {
  font-family: "National 2";
  font-weight: 800;
  src: url("/fonts/National 2/test-national-2-extrabold.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-extrabold-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 200;
  src: url("/fonts/National 2/test-national-2-extralight.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 200;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-extralight-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-light-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 300;
  src: url("/fonts/National 2/test-national-2-light.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 500;
  src: url("/fonts/National 2/test-national-2-medium.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 100;
  src: url("/fonts/National 2/test-national-2-thin.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 100;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-thin-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 400;
  src: url("/fonts/National 2/test-national-2-regular.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-regular-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-medium-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-bold-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 700;
  src: url("/fonts/National 2/test-national-2-bold.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 900;
  font-style: italic;
  src: url("/fonts/National 2/test-national-2-black-italic.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "National 2";
  font-weight: 900;
  src: url("/fonts/National 2/test-national-2-black.woff2") format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "BDR Mono";
  src: url("/fonts/BDR_Mono/bdrmono-webfont.woff2") format("woff2"), url("/fonts/BDR_Mono/bdrmono-webfont.woff") format("woff");
  font-display: fallback
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "National 2", sans-serif;
}

@media (min-width: 35em) {
  :root {
      --fs-800: 5rem;
      --fs-700: 2.5rem;
      --fs-600: 1.5rem;
      --fs-500: 1.25rem;
      --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
      /* font-sizes */
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-500: 1.75rem;
      --fs-400: 1.125rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl( var(--clr-dark) );
  background-color: hsl( var(--clr-white) );
  line-height: 1.5;
  min-height: 100vh;
  
  /* display: grid; */
  /* grid-template-rows: min-content 1fr; */
  
  overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}