@tailwind base;
@tailwind components;
@tailwind utilities;

.red {
  border: 1px solid coral !important;
}

.yel {
  border: 1px solid yellowgreen !important;
}

@font-face {
  font-family: 'ibm3270';
  src: url('/3270-Regular.woff');
}

@font-face {
  font-family: 'national2';
  src: url('/test-national-2-regular.woff2');
}

@font-face {
  font-family: 'national2-narrow';
  src: url('/test-national-2-narrow-regular.woff2');
}

@font-face {
  font-family: 'apercu-mono';
  src: url('/apercu-mono-webfont.woff');
}

@font-face {
  font-family: 'epilogue';
  src: url('/Epilogue-VariableFont_wght.ttf');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'epilogue' ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: 333 !important;
}

@media screen and (max-width: 480px) {
  .no-display {
    display: none;
  }
}

a {
  color: blue;
  text-decoration: none;
  cursor:pointer;
}

.project-list > h3 {
  cursor: default;
}

.cursor-none {
  cursor: default !important;
}

* {
  box-sizing: border-box;
} 

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
