html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.red {
  border: 1px solid red !important;
}

.nav {
  height: 100vh;
  position: fixed;
  z-index: 100;
  font-family: BDRmono2021;
}

.nav-items {
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.rel {
  position: relative
}

.pos1 {
  top: -5em;
}

.pos2 {
  top: -3em;
}

.pos3 {
  top: -1em;
}

.rel a {
  position: absolute;
  display: block;
  text-decoration: none !important;
  color: inherit !important;
}

a:focus {
  animation: up 0.5s forwards;
}

@keyframes up {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@font-face {
  font-family: BDRmono2021;
  src: url('/bdr_mono_2021/bdr_mono_2021/BDRmono2021-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: BDRmono2021;
  src: url('/bdr_mono_2021/bdr_mono_2021/BDRmono2021-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: BDRmono2021;
  src: url('/bdr_mono_2021/bdr_mono_2021/BDRmono2021-Light.otf');
  font-weight: normal;
}

@font-face {
  font-family: BDRmono2021Rounded;
  src: url('/bdr_mono_2021/bdr_mono_2021/BDRmono2021Rounded-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: BDRmono2021Rounded;
  src: url('/bdr_mono_2021/bdr_mono_2021/BDRmono2021Rounded-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: BDRmono2021Rounded;
  src: url('/bdr_mono_2021/bdr_mono_2021/BDRmono2021Rounded-Light.otf');
  font-weight: normal;
}